@model ProyectoUME.Core.Domain.Documentos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Documentos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CursoAlturas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CursoAlturas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificadoEps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificadoEps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificadoArl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificadoArl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificadoPension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificadoPension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HojaVida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HojaVida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTramiteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTramiteNavigation.PrimerApellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTramite">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
