@model IEnumerable<ProyectoUME.Core.Domain.Documentos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CursoAlturas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificadoEps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificadoArl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificadoPension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HojaVida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTramiteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CursoAlturas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificadoEps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificadoArl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificadoPension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HojaVida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTramiteNavigation.Correo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTramite">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTramite">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTramite">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
